
body
{
    height: 100vh;
    background: #000000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#brain
{
    width: 20rem;
    height: 20rem;
    animation: thinking 20s ease-out infinite;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#message
{
    transition: opacity 2s ease-in-out;
    font-size: x-large;
}

@keyframes thinking
{
    0%
    {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        background-image: radial-gradient(rgba(255, 255, 255, 0.2), rgba(66, 135, 245, 0.4));
    }

    10%
    {
        border-radius: 61% 39% 30% 70% / 57% 63% 37% 43%;
    }

    15%
    {
        background-image: radial-gradient(rgba(255, 255, 255, 0.2), rgba(66, 245, 230, 0.2), );
    }
     
    20%
    {
        border-radius: 77% 23% 71% 29% / 41% 27% 73% 59%;
    }

    30%
    {
        border-radius: 35% 65% 49% 51% / 19% 45% 55% 81%;
        background-image: radial-gradient(rgba(255, 255, 255, 0.2), rgba(66, 245, 90, 0.2));
    }

    40%
    {
        border-radius: 57% 43% 79% 21% / 73% 45% 55% 27%;
    }

    45%
    {
        background-image: radial-gradient(rgba(rgba(255, 255, 255, 0.2), 215, 245, 66, 0.3) );
    }

    50%
    {
        border-radius: 57% 43% 20% 80% / 51% 73% 27% 49%;
    }

    60%
    {
        border-radius: 57% 43% 35% 65% / 42% 41% 59% 58%;
        background-image: radial-gradient(rgba(255, 255, 255, 0.2), rgba(245, 153, 66, 0.3));
    }

    70%
    {
        border-radius: 70% 30% 55% 45% / 58% 26% 74% 42%;
    }

    75%
    {
        background-image: radial-gradient(rgba(255, 255, 255, 0.2), rgba(245, 87, 66, 0.3));
    }

    80%
    {
        border-radius: 30% 70% 55% 45% / 35% 52% 48% 65%;
    }

    90%
    {
        border-radius: 70% 30% 50% 50% / 60% 22% 78% 40%;
    }

    100%
    {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        background-image: radial-gradient(rgba(255, 255, 255, 0.2), rgba(218, 66, 245, 0.3));
    }
}

@keyframes breathing
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}