body {
  font-family: "Roboto";
  display: block;
  margin: 8px;
}

.remove {
  display: none !important;
}

#header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  padding: 4rem 2rem;
  border-radius: 0.5rem;
}

#header-container #life-passed-container {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-container #life-passed-container #life-passed-percentage {
  font-size: 5vw;
  margin-right: 2rem;
}

#header-container #life-passed-container #life-quote-container {
  margin-top: 2vw;
  color: #888;
}

#header-container #life-passed-container #life-quote-container span {
  display: block;
  font-size: 1vw;
}

#header-container #life-passed-container #life-quote-container small {
  font-size: 0.8vw;
  float: right;
}

#header-container #birth-date-selection-container {
  position: absolute;
  right: 4rem;
}

#header-container #birth-date-selection-container #birth-date-selection-label {
  color: #fff;
  position: absolute;
  right: 0;
  width: 15.4rem;
  bottom: 0.5rem;
}

#header-container #birth-date-selection-container .date-picker-container {
  position: absolute;
}

#header-container #birth-date-selection-container .date-picker-container .date-picker-display {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  right: 2rem;
  background-color: #fff;
  min-width: 15rem;
  height: 1.6rem;
  border-radius: 0.5vw;
  font-size: 0.9rem;
  font-weight: bold;
  color: #000;
  padding: 0.4rem 0.6rem;
}

#header-container #birth-date-selection-container .date-picker-container .date-picker-toggle-button {
  width: 1.5rem;
  cursor: pointer;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

#header-container #birth-date-selection-container .date-picker-container .date-picker-input {
  position: absolute;
  right: 0;
  padding-bottom: 0.5rem;
  opacity: 0;
}

#memento-mori-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

#memento-mori-container .half-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1vh;
}

#memento-mori-container .half-year .week {
  display: block;
  width: 1.47vw;
  height: 1.47vw;
  margin: 0.1rem;
  border: 1px solid #000;
  border-radius: 0.4vw;
}

#memento-mori-container .half-year .passed-week {
  background-color: #000;
}

#memento-mori-container .half-year .year-count-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.47vw;
  height: 1.47vw;
  margin: 0.1rem;
  font-size: 0.8vw;
}

#memento-mori-container .year-gap {
  width: 100vw;
  height: 1.5vw;
}

#footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

#footer-container .quote {
  color: #888;
}

#footer-container .author {
  color: #fff;
  text-transform: uppercase;
}

@media only screen and (max-width: 1366px) {
  #memento-mori-container .half-year {
    margin-bottom: 0.3vh;
  }
  #memento-mori-container .half-year .week {
    display: block;
    width: 1.45vw;
    height: 1.45vw;
  }
  #memento-mori-container .half-year .year-count-container {
    width: 1.45vw;
    height: 1.45vw;
  }
}

@media only screen and (max-width: 1115px) {
  #memento-mori-container .half-year {
    margin-bottom: 0.5vh;
  }
  #memento-mori-container .half-year .week {
    display: block;
    width: 1.4vw;
    height: 1.4vw;
    margin: 0.08rem;
    border-radius: 0.2rem;
  }
  #memento-mori-container .half-year .year-count-container {
    width: 1.4vw;
    height: 1.4vw;
  }
}

@media only screen and (max-width: 1025px) {
  #memento-mori-container .half-year {
    margin-bottom: 0.3vh;
  }
  #memento-mori-container .half-year .week {
    margin: 0.07rem;
  }
}

@media only screen and (max-width: 825px) {
  #memento-mori-container .half-year .week {
    display: block;
    width: 1.28vw;
    height: 1.28vw;
  }
  #memento-mori-container .half-year .year-count-container {
    width: 1.28vw;
    height: 1.28vw;
  }
}

@media only screen and (max-width: 815px) {
  #header-container {
    padding: 4rem 1.5rem;
  }
  #header-container #life-passed-container #life-passed-percentage {
    margin-right: 0.5rem;
  }
  #memento-mori-container .half-year {
    margin-bottom: 0.08rem;
  }
  #memento-mori-container .half-year .week {
    display: block;
    width: 1.26vw;
    height: 1.26vw;
    margin: 0.07rem;
    border-radius: 0.2rem;
  }
  #memento-mori-container .half-year .year-count-container {
    width: 1.26vw;
    height: 1.26vw;
  }
}

@media only screen and (max-width: 768px) {
  #header-container #life-passed-container #life-quote-container {
    display: none;
  }
}

@media only screen and (max-width: 740px) {
  #memento-mori-container .half-year .week {
    margin: 0.06rem;
  }
  #memento-mori-container .half-year .year-count-container {
    font-size: 1vw;
  }
}

@media only screen and (max-width: 720px) {
  #memento-mori-container .half-year .week {
    display: block;
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 0.15rem;
  }
  #memento-mori-container .half-year .year-count-container {
    width: 1.2vw;
    height: 1.2vw;
  }
}

@media only screen and (max-width: 655px) {
  #memento-mori-container .half-year .week {
    margin: 0.06rem;
  }
}

@media only screen and (max-width: 570px) {
  #memento-mori-container {
    margin-top: 0.8rem;
  }
  #memento-mori-container .half-year .week {
    margin: 0.04rem;
  }
}

@media only screen and (max-width: 540px) {
  #memento-mori-container .half-year .week {
    width: 2.5vw;
    height: 2.5vw;
    margin: 0.1rem;
    border-radius: 0.2rem;
  }
  #memento-mori-container .half-year .year-count-container {
    width: 2.5vw;
    height: 2.5vw;
    font-size: 2vw;
  }
  #memento-mori-container .year-gap {
    height: 3vw;
  }
}

@media only screen and (max-width: 415px) {
  #header-container #life-passed-container {
    display: none;
  }
  #header-container #birth-date-selection-container {
    right: 6rem;
  }
  #memento-mori-container .half-year .week {
    width: 2vw;
    height: 2vw;
    border-radius: 0.15rem;
  }
  #memento-mori-container .half-year .year-count-container {
    width: 2vw;
    height: 2vw;
    font-size: 2vw;
  }
}

@media only screen and (max-width: 375px) {
  #header-container #birth-date-selection-container {
    right: 4.5rem;
  }
}

@media only screen and (max-width: 360px) {
  #header-container #birth-date-selection-container {
    right: 4rem;
  }
}

@media only screen and (max-width: 320px) {
  #header-container #birth-date-selection-container {
    right: 2.8rem;
  }
  #memento-mori-container .half-year .week {
    margin: 0.08rem;
    border-radius: 0.12rem;
  }
}
/*# sourceMappingURL=index.css.map */