
:root{
    --primary-color: #05ce78;
    --primary-text-color: #2b2727;
    --secondry-text-color: #5a5a5a;
    --primary-background-color: #ddd;
    --secondry-background-color: #fff;
    --primary-font: "Roboto", sans-serif;
}


body
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10vh 0 0 0;
    background-color: var(--primary-background-color);
}



/* Scroller */
    ::-webkit-scrollbar 
    {
        
        width: 5px;
    }

    ::-webkit-scrollbar-track 
    {
        margin: 5px;
        background-color: var(--secondry-background-color);
    }
    
    ::-webkit-scrollbar-thumb 
    {
        background-color: var(--primary-color);
    }
/* Scroller */


/* common css */
    .details-section
    {
        padding: 0 5px;
        margin-bottom: 2em;
    }

    .details-section-family
    {
        padding: 0 5px;
        margin-bottom: 1.5em;
    }

    .key-family
    {
        min-width: 14em;
        font-weight: bolder;
    }

    .value-family
    {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .key-value-row 
    {
        display: flex;
        height: 22px;
    }

    .key
    {
        min-width: 7.5rem;
        font-weight: bolder;
    }

    .value
    {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .flex-row
    {
        display: flex;
    }

    .basic-row
    {
        margin: 0;
        margin-bottom: 0.3em;
    }

    .size-1
    {
        font-size: 1.6em;
    }

    .size-2
    {
        font-size: 1.2em;
    }

    .size-3
    {
        font-size: 0.9em;
    }

    .primary-color
    {
        color: var(--primary-color);
    }

    .primary-color-background
    {
        background-color: var(--primary-color);
    }

    .primary-text-color
    {
        color: var(--primary-text-color);
    }

    .primary-text-color-background
    {
        background-color: var(--primary-text-color);
    }

    .secondry-text-color
    {
        color: var(--secondry-text-color);
    }

    .secondry-text-color-background
    {
        background-color: var(--secondry-text-color);
    }

    .primary-background-color
    {
        color: var(--primary-background-color);
    }

    .primary-background-color-background
    {
        background-color: var(--primary-background-color);
    }

    .secondry-background-color
    {
        color: var(--secondry-background-color);
    }

    .secondry-background-color-background
    {
        background-color: var(--secondry-background-color);
    }

    .primary-font-family
    {
        font-family: var(--primary-font);
    }
/* common css */


/* Profile Page */
    #profile-page
    {
        display: flex;
        width: 80vw;
        padding: 1vw;
        margin-bottom: 10vh;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    }
/* Profile Page */



/* Family Details */
    #family-details
    { 
        width: 75%;
        padding: 0.8vw 0.8vw 0.8vw 3vw;
    }
/* Family Details */



/* Persona Details */
    #personal-details
    {
        width: 25%;
        padding: 0.8vw;
    }

    #image-container
    {
        margin-bottom: 5vh;
    }

    #profile-image
    {
        width: 100%;
    }

    #profile-owner-name
    {
        margin: 0;
        margin-bottom: 0.8em;
    }

    
/* Persona Details */


/* Family Details */
#profile-family-details-header
{
    margin: 0;
    margin-bottom: 2em;
}


@media only screen and (max-width: 1379px)
{
    
    #profile-page
    {
        width: 90vw;
    }
}

@media only screen and (max-width: 1249px)
{
    body
    {
        margin: 0;
    }
    
    #profile-page
    {
        width: 100vw;
        margin: 0;
    }
}

@media only screen and (max-width: 1999px)
{
    #personal-details
    {
        width: 30%;
    }

    #family-details
    { 
        width: 70%;
    }
}

@media only screen and (max-width: 949px)
{
    #personal-details
    {
        width: 35%;
    }

    #family-details
    { 
        width: 65%;
    }

    .size-2
    {
        font-size: 1em;
    }

    .key-family
    {
        min-width: 11em;
    }
}

@media only screen and (max-width: 949px)
{
    #profile-page
    {
        display: block;
    }

    #personal-details
    {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 1em;
    }

    #family-details
    { 
        box-sizing: border-box;
        width: 100%;
    }

    .key-value-row
    {
        height: auto;
    }

    .key
    {
        min-width: 10em;
    }

    #profile-owner-name
    {
        font-size: 2em !important;
    }

    .size-2
    {
        font-size: 1.2em;
    }

    .size-3
    {
        font-size: 1.5em;
    }

    .key-family
    {
        min-width: 11em;
    }
}

@media only screen and (max-width: 579px)
{
   

    .key
    {
        min-width: 10em;
    }

    #profile-owner-name
    {
        font-size: 1.2em !important;
    }

    .size-2
    {
        font-size: 0.9em;
    }

    .size-3
    {
        font-size: 1em;
    }

    .key-family
    {
        min-width: 11em;
    }
}

